@charset "utf-8";
/* intro.html css */

@import url(./common.css);
@import url(./reset.css);
@import url(./intro_ani.css);

/*********** [ chair set ] ***********/
#chair{
    position: fixed;
    top: 800px;
    left: 50%;
    transform-style: preserve-3d;
    transform: rotateX(-27deg) rotateY(-45deg);
    z-index: 1;
    color: inherit;
}

#chair:hover div>div{
    filter: grayscale(0%);
    transition: .4s;
}

#chair>div{
    position: absolute;
    transform-style: preserve-3d;
}

/******** chairPillar set ********/
.chairPillar>div{
    position: absolute;
    width: 50px;
    height: 300px;
    background: url(../img/chairBackground.jpg);
    border: 1px black solid;
}

.chairPillar>div:nth-child(1){
    height: 50px;
    transform: rotateX(90deg) translateZ(25px);
}

.chairPillar>div:nth-child(2){
    transform: translateZ(25px)
}

.chairPillar>div:nth-child(3){
    transform: translateZ(-25px)
}

.chairPillar>div:nth-child(4){
    transform: rotateY(90deg) translateZ(25px)
}

.chairPillar>div:nth-child(5){
    transform: rotateY(90deg) translateZ(-25px)
}

.chairPillar>div:nth-child(6){
    height: 50px;
    transform: rotateX(90deg) translateZ(-275px)
}
/******** chairPillar set ********/

/****** chairPillar position ******/
.chairPillar:nth-of-type(1){
    transform: translateX(100px) translateZ(100px);
}

.chairPillar:nth-of-type(2){
    transform: translateX(-100px) translateZ(100px);
}

.chairPillar:nth-of-type(3){
    transform: translateX(100px) translateZ(-100px);
}

.chairPillar:nth-of-type(4){
    transform: translateX(-100px) translateZ(-100px);
}
/****** chairPillar position ******/

/********* chairBoard set *********/
.chairBoard>div{
    position: absolute;
    width: 150px;
    height: 50px;
    background: url(../img/chairBackground2.jpg);
    border: 1px black solid;
}

.chairBoard>div:nth-child(1){
    width: 50px;
    transform: rotateY(90deg) translateZ(-25px);
}

.chairBoard>div:nth-child(2){
    transform: translateZ(25px);
}

.chairBoard>div:nth-child(3){
    transform: translateZ(-25px);
}

.chairBoard>div:nth-child(4){
    transform: rotateX(90deg) translateZ(25px);
}

.chairBoard>div:nth-child(5){
    transform: rotateX(90deg) translateZ(-25px);
}

.chairBoard>div:nth-child(6){
    width: 50px;
    transform: rotateY(90deg) translateZ(125px);
}


.chairBoard:nth-of-type(10)>div, .chairBoard:nth-of-type(11)>div, .chairBoard:nth-of-type(14)>div, .chairBoard:nth-of-type(15)>div{
    background: url(../img/chairBackground.jpg);
}
/********* chairBoard set *********/

/****** chairBoard position ******/
.chairBoard:nth-of-type(5){
    transform: translateX(-50px) translateZ(100px);
}

.chairBoard:nth-of-type(6){
    transform: translateX(-50px) translateZ(50px);
}

.chairBoard:nth-of-type(7){
    transform: translateX(-50px);
}

.chairBoard:nth-of-type(8){
    transform: translateX(-50px) translateZ(-50px);
}

.chairBoard:nth-of-type(9){
    transform: translateX(-50px) translateZ(-100px);
}

.chairBoard:nth-of-type(10){
    transform: rotateY(90deg) translateX(-75px) translateZ(125px);
}

.chairBoard:nth-of-type(11){
    transform: rotateY(90deg) translateX(-75px) translateZ(-75px);
}
/****** chairBoard position ******/

/****** chairBackrest position ******/
.chairPillar:nth-of-type(12){
    transform: translateX(100px) translateY(-300px) translateZ(-100px);
}

.chairPillar:nth-of-type(13){
    transform: translateX(-100px) translateY(-300px) translateZ(-100px);
}

.chairBoard:nth-of-type(14){
    transform: translateX(-50px) translateY(-300px) translateZ(-100px);
}

.chairBoard:nth-of-type(15){
    transform: translateX(-50px) translateY(-200px) translateZ(-100px);
}
/****** chairBackrest position ******/

.font{
    transition: .18s;
    font-size: 100px;
    font-family: 'Russo One';
    transform: translateX(-150px) translateY(-35px) translateZ(120px) rotateY(90deg);
}

/*********** chair hover ***********/
#chair:hover .font{
    color: red;
}
/*********** chair hover ***********/
/*********** [ chair set ] ***********/


/********* [ mainMenu set ] *********/
#start{
    transition: 1.2s cubic-bezier(1,1.11,.57,1.05);
    margin-top: 100%;
    opacity: 0;
}

/********* [ intro ] set *********/
.intro{
    margin: 140px 0 300px 0;
}
/********* line set *********/
#mainLine{
    /* margin: 30px; */
    position: relative;
}

.mainBtnCheckBox{
    display: none;
}

.mainLineBtn{
    height: 50px;
    width: 290px;
    background-color: rgba(245, 245, 220, 0);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: .4s;
}

.mainLineBtnText{
    font-size: 25px;
    font-weight: bold;
    transition: .4s; 
}

#screenZone{
    max-width: 1470px;
    height: 750px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 1.5px solid black;
}

.mainMenu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: 1s;
}

.inScreen{
    height: 90%;
    margin: auto;
    position: relative;
}
/********* line set *********/
/********* screen set *********/
.menuBox{
    width: 1300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.menuTop{
    display: flex;
}

.menuImg{
    width: 200px;
    height: 280px;
    border: 1.5px solid rgba(59, 59, 59, 0.532);
    margin-top: 10px;
    margin-left: 20px;
}

.homeMenu{
    top: 0%;
    opacity: 1;
}

.inScreenHomeTextBox{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.homeTextStrong{
    font-size: 70px;
}

.strong1{
    font-size: 110px;
}

.strong2{
    font-size: 90px;
}

.homeTextNormal{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
    
}

.normal1{
    display: inherit;
    font-size: 50px;
}

.normal2{
    width: 750px;
    font-size: 80px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
}
/********* screen set *********/

.menuBox>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 675px;
}

.menuMainText{
    position: absolute;
    top: 65px;
    left: 45%;
    text-align: left;
    font-size: 20px;
}

.menuMainText>h2{
    font-size: 30px;
    margin: 50px 0 10px 0;
    
}

.menuMainText>h1{
    font-size: 50px;
    margin: 20px 0 25px 0;
}

.menuMainText>table{
    font-size: 30px;
}

.menuMainText th{
    width: 210px;
    height: 50px;
}

/********* [ intro ] set *********/

/********* [ banner set ] *********/
#bannerZone{
    position: relative;
    transform: translateX(-100%);
    width: 100%;
    margin-bottom: 1500px;
}

.bannerLine{
    position: relative;
    width: 100%;
    display: flex;
}

.bannerImg{
    position: absolute;
    transition: 1s;
    width: 100%;
    height: 1000px;
}

.bannerImg:nth-child(1){
    left: 0;
}

.bannerImg:nth-child(2){
    left: 100%;
}

.bannerImg:nth-child(3){
    left: 200%;
}

.bannerBtnZone{
    position: absolute;
    left: 100%;
    height: 1000px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.4s;
}

.bannerBtnZone>button{
    margin-top: 550px;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0);
    display: none;
    border-radius: 50%;
    transition: 0.4s;
    font-size: 70px;
}

.bannerBtnZone:last-child{
    left: calc(200% - 250px);
}

.bannerBtnZone:hover{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 5px 12px 2px rgba(0,0,0,0.43);
}

.bannerBtnZone:hover>button{
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    box-shadow: 3px 5px 12px 2px rgba(0,0,0,0.43);
}
/********* [ banner set ] *********/

/********* [ 프로젝트 소개 ] *********/
#projectZone{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
}

#projectZone>img{
    height: 500px;
    width: 500px;
    margin: auto;
}

.projectTextZone{
    position: relative;
    overflow: hidden;
    width: 50%;
}

.projectTextInZone{
    position: relative;
    transition: 1s ease;
    left: -100%;
    text-align: left;
    margin: 30px;
}

.projectText1{
    font-size: 60px;
    display: inline-block;
}

.projectText2{
    font-size: 30px;
    display: inline-block;
}

.projectText3{
    margin-top: 20px;
    font-size: 35px;
}

.projectText3>span{
    font-size: 40px;
}

.projectBtn{
    width: 200px;
    height: 60px;
    background-color: #CDD9C5;
    color: #6D7A71;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    margin: 50px 0 300px 0;
}

.projectBtn:hover{
    background-color: #6D7A71;
    color: #CDD9C5;
}
/********* [ 프로젝트 소개 ] *********/

/********* [ 업사이클 ] *********/
.cycleCircle{
    position: relative;
    top: 220px;
    left: 150px;
}

.cycleCircle>div{
    width: 350px;
    height: 350px;
    border: 1px solid #6D7A71;
    border-radius: 50%;
    font-size: 35px;
    color: #6D7A71;
    position: absolute;
}

.cycleCircle>div>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cycleCircle>div:nth-child(1){
    top: -250px;
}
.cycleCircle>div:nth-child(2){
    left: -150px;
}
.cycleCircle>div:nth-child(3){
    left: 150px;
}

.cycleIntroTextZone{
    transition: .5s;
    opacity: 0;
    text-align: right;
}

.cycleIntroTextZone>h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.cycleIntroTextZone>p{
    font-size: 31px;
    margin-bottom: 120px;
}

.cycleIntroBtn>h1{
    font-size: 25px;
    margin-bottom: 15px;
}

.cycleIntroBtn>button{
    width: 50px;
    height: 50px;
}

#cycleZone{
    opacity: 0;
    transition: .8s;
    margin-top: 300px;
}

.cycle{
    display: inline-block;
    margin: 0 40px;
}

.cycle>h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.cycle>h1>strong{
    color: #6D7A71;
}

.cycle>img{
    margin-bottom: 20px;
}

.cycle1{
    width: 475px;
}

#cycleZone>p{
    display: block;
    font-size: 25px;
}
/********* [ 업사이클 ] *********/

/********* [ 프로젝트 소개 ] *********/
#projectIntroZone{
    opacity: 0;
    padding-top: 200px;
    margin-top: 300px;
    transition: .8s;
}

#projectIntroZone>h1{
    font-size: 35px;
}

#projectIntroZone>img{
    width: 520px;
    margin: 20px 0 15px 0;
}

#projectIntroZone>button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    background-color: #CDD9C5;
    color: #6D7A71;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

#projectIntroZone>button:hover{
    background-color: #6D7A71;
    color: #CDD9C5;
}

#projectMainZone{
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: 300px;
}

.projectMainBtnZone>div{
    position: absolute;
    width: 300px;
    height: 80px;
    font-size: 40px;
    border: 3px solid #6D7A71;
    background-color: white;
    transition: .3s;
    line-height: 80px;
    left: 10%;
}

.projectMainBtnZone>div:last-of-type{
    border: 3px solid #BFB583;
}

.projectMainBtnZone>div:first-of-type{
    top: 100px;
}

.projectMainBtnZone>div:last-of-type{
    top: 545px;
}

.projectMainBtnZone>div>div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #507b5588;
    z-index: -1;
    top: 30px;
    left: 30px;
}

.projectMainBtnZone>div:last-of-type>div{
    background-color: #c5bb8d4f;
}

.projectMainImgZone{
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
}

.departmentsLine{
    display: flex;
    justify-content: center;
    border: 3px solid #6D7A71;
}

.departmentsLine:last-of-type{
    margin-top: 110px;
    border: 3px solid #BFB583;
}

.departmentsLine>div{
    margin: 20px 40px;
    position: relative;
}

.departmentsLine img{
    width: 210px;
}

.departmentsLine p{
    font-size: 20px;
}

.departmentsLine>div>div{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 50px;
    background-color: #507b5526;
    z-index: -1;
}

.departmentsLine:last-of-type>div>div{
    background-color: #c5bb8d26;
}
/********* [ 프로젝트 소개 ] *********/