@charset "utf-8";

#furnitureZone{
    margin: 200px 0;
    display: flex;
}

.furnitureScreenZone{
    overflow: hidden;
    display: inline-block;
    width: 84%;
}

.furnitureInScreenZone{
    position: relative;
    width: 100%;
    height: 650px;
    margin: 0 auto;
}

.furnitureScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: 1s;
    opacity: 0;
}

.furnitureScreen:first-child{
    top: 0;
    opacity: 1;
}

.furnitureScreenConcept{
    margin-top: 100px;
}

.furnitureScreenConcept>h1{
    font-size: 70px;
    
}

.furnitureScreenConcept>p{
    font-size: 17px;
    line-height: 35px;
}

.furnitureScreen:nth-child(2)>img{
    width: 400px;
    position: absolute;
    transform: translateX(-100%);
}

.furnitureScreen:nth-child(2)>img:nth-child(1){
    top: 60px;
    left: 1230px;
}

.furnitureScreen:nth-child(2)>img:nth-child(2){
    top: 30px;
    left: 580px;
}

.furnitureScreen:nth-child(2)>img:nth-child(3){
    top: 445px;
    left: 555px;
}

.furnitureScreen:nth-child(2)>img:nth-child(4){
    top: 445px;
    left: 1285px;
}

.furnitureScreen:nth-child(2)>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    line-height: 290px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(150, 150, 150);
    background-color: rgb(230, 230, 230);
}

.furnitureScreen:nth-child(3)>img{
    height: 100%;
}

.furnitureScreen:nth-child(4)>img{
    width: 450px;
    position: absolute;
    transform: translateX(-100%);
}

.furnitureScreen:nth-child(4)>img:nth-child(1){
    top: 410px;
}

.furnitureScreen:nth-child(4)>img:nth-child(2){
    top: 50px;
}

.furnitureScreen:nth-child(4)>img:nth-child(3){
    top: 410px;
    left: 1210px;
}

.furnitureScreen:nth-child(4)>div{
    width: 450px;
    position: absolute;
    transform: translateX(-100%);
    top: 50px;
    left: 1210px;
}

.furnitureScreen:nth-child(4)>div>h1{
    margin-top: 70px;
    font-size: 40px;
    color: rgb(150, 150, 150);
}

.furnitureScreen:nth-child(4)>div>h2{
    margin: 20px 0 10px 0;
    font-size: 15px;
    color: rgb(150, 150, 150);
}

.furnitureScreen:nth-child(4)>div>h3{
    font-size: 15px;
    font-weight: normal;
}

.furnitureScreen:last-child>img{
    width: 100%;
}


.furnitureBtnZone{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.furnitureBtnZone>button{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0);
    transition: 0.3s;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 1px;
    font-size: 25px;
}

.furniturIntroductionBtnZone{
    height: 0;
    position: absolute;
    left: 110%;
    top: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 3;
    transition: .7s;
    overflow: hidden;
}

.furniturIntroductionBtn{
    position: relative;
    width: 120px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
}
/********* [ 가구 이미지 소개 ] *********/
#furniturIntroduction{
    transition: 0.4s;
    display: flex;
    height: 100%;
}

.furniturIntroductionScreenZone{
    position: relative;
    margin-left: 10%;
    width: 80%;
    overflow: hidden;
}

.furniturIntroductionScreen{
    position: absolute;
    transform: translateX(-50%);
    left: 100%;
    width: 100%;
    height: 100%;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.furniturIntroductionScreenZone>.furniturIntroductionScreen:nth-child(1){
    left: 50%;
    opacity: 1;
}

.furniturIntroductionScreen>img{
    width: 28%;
    display: inline-block;
    margin: 120px 20px;
}

.furniturIntroductionScreen:nth-of-type(4)>img:last-child{
    height: 60%;
}
/********* [ 가구 이미지 소개 ] *********/