@charset "utf-8";

main>h1{
    margin-top: 150px;
    font-size: 50px;
}

#contentBodyZone{
    margin: 120px 0 150px 0;
}

.contentPos{
    text-align: left;
    font-size: 25px;
    border-bottom: 1px solid #CDD9C5;
}

.firstCon{
    border-top: 3px solid #6D7A71;
    border-bottom: 3px solid #6D7A71;
    font-size: 35px;
    font-weight: bold;
}

.contentPos>p{
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.contentPos>p:first-of-type{
    width: 300px;
}

.contentBody{
    transition: 1s;
    height: 51px;
    overflow: hidden;
}

.userAnswer>div>h1{
    font-size: 40px;
    text-align: left;
    margin: 10px 50px;
}

.userAnswer>div:nth-child(2)>h1, .userAnswer>div:nth-child(4)>h1{
    text-align: right;
}

.userAnswer>div>div{
    display: flex;
}

.userAnswer>div>div>img{
    width: 300px;
}

.userAnswer>div>div>p{
    width: 100%;
}

.userAnswer>div>div>p, .userAnswer>div>div>img{
    border: 2px solid #6D7A71;
    margin: 0 50px;
}