@charset "utf-8";

main>h1{
    margin-top: 120px;
    font-size: 50px;
}

.contentPos{
    text-align: left;
    font-size: 25px;
    border-bottom: 1px solid #CDD9C5;
}

.firstCon{
    border-top: 3px solid #6D7A71;
    border-bottom: 3px solid #6D7A71;
    font-size: 35px;
    font-weight: bold;
}

.contentPos>p{
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.contentPos>p:first-of-type{
    width: 300px;
}

.contentBody{
    transition: 1s;
    height: 50px;
}

.contentBody:hover{
    height: 400px;
    border-bottom: 1px solid #CDD9C5;
}