@charset "utf-8";
/* 페이지 초기화 CSS - reset.css */

html{
    font-size: 10px;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, figure, p, blockquote{
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
    overflow-y: auto;
} 

/* ul, ol 블릿/숫자 없앰 */
ul, ol{
    list-style: none;
}

/* a요소 밑줄 제거 */
a{
    text-decoration: none;
    color: inherit;
}

/* 이미지, 버튼 기본 CSS*/
img, button{
    /* 이미지 링크 시 기본 보더 제거 */
    border: none;

    /* 인라인 요소 간 세로 정렬 속성을 셋팅한 이유는??
    -> 블록 박스 안에 이미지가 단독으로 들어간 경우 하단에 4px공백이 생김.
     이 때 이것을 없애기 위해 vertical-align속성을 top/middle/bottom 이런 값을
     사용하면 공백이 없어진다(단, 블록 박스의 높이값은 auto이며 이미지에 의해
     블록박스의 높이가 결정되는 경우에 한다. */
    vertical-align: top;
}

/* 포커스 아웃라인 제거
모든 브라우저에 기본 포커스 아웃라인 셋팅됨 */
input:focus,
select:focus{
    outline: none;
}